@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Аптека</title>
</head>
<body>
    <div>
        <h3>Распродажа препартов</h3>
        <table>
            <tr>
                <td><p>Название препарата</p></td>
                <td><p>Количество</p></td>
                <td><p>Цена</p></td>
                <td></td>
            </tr>
            @foreach (var b in ViewBag.Medications)
            {
                <tr>
                    <td><p>@b.Name</p></td>
                    <td><p>@b.Weight</p></td>
                    <td><p>@b.Quantity</p></td>
                    <td><p>@b.Description</p></td>
                    <td><p>@b.Price</p></td>
                    <td><p><a href="/Home/Buy/@b.Id">Купить</a></p></td>
                </tr>
            }
        </table>
    </div>
</body>
</html>